:root {
  --bg-primary: hsl(236, 33%, 92%);
  --bg-secondary: hsl(0, 0%, 98%);
  --clr-primary-400: hsl(233, 11%, 84%);
  --clr-primary-500: hsl(236, 9%, 61%);
  --clr-primary-700: hsl(235, 19%, 35%);
  --clr-accent: hsl(220, 98%, 61%);
  --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --clr-logo: hsl(236, 33%, 92%);
}

.dark {
  --bg-secondary: hsl(235, 24%, 19%);
  --bg-primary: hsl(235, 21%, 11%);
  --clr-primary-700: hsl(234, 39%, 85%);
  --clr-primary-500: hsl(234, 11%, 52%);
  --clr-primary-400: hsl(233, 14%, 35%);
  /* --clr-primary-700: hsl(237, 14%, 26%); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bg-primary);
  background-image: url("./images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

body.dark {
  background-image: url("./images/bg-mobile-dark.jpg");
}

/* || Base styles ================================================== */
img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
}

.logo {
  text-transform: uppercase;
  color: var(--clr-logo);
  font-size: 2rem;
  letter-spacing: 5px;
}

.mode-icon {
  width: 30px;
  height: 30px;
}

form {
  margin-bottom: 1em;
  position: relative;
}

.circle {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid var(--clr-primary-500);
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1em;
  background: none;
  border: 0;
  color: var(--clr-primary-500);
  font-size: 1rem;
}

.filter-btn {
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-500);
}

.filter-btn:hover {
  color: var(--clr-primary-700);
}

.filter-btn[aria-pressed="true"] {
  color: var(--clr-accent);
}

.navbar {
  display: flex;
  padding-block: 2em;
  align-items: center;
  justify-content: space-between;
}

/* || ======================================================= */

.todo__input {
  background-color: var(--bg-secondary);
  padding: 1em;
  padding-left: 3.5em;
  border: 0;
  border-radius: 5px;
  width: 100%;
  color: var(--clr-primary-700);
  font-size: 1rem;
}

.todo__input:focus {
  outline: none;
}

.form-control {
  display: grid;
  grid-template-columns: 1em auto 1em;
  gap: 1.5em;
  line-height: 1.1;
  font-size: 1rem;
  padding: 1em;
  border-bottom: 1px solid var(--clr-primary-400);
  align-items: center;
  color: var(--clr-primary-700);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.5px solid var(--clr-primary-500);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: url(./images/icon-check.svg);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background: var(--gradient);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked + label {
  color: var(--clr-primary-500);
  text-decoration: line-through;
}

input[type="checkbox"]:focus {
  outline: 1px solid var(--clr-accent);
  outline-offset: max(2px, 1px);
}

input[type="checkbox"]:hover {
  border: 1px solid var(--clr-accent);
}

label {
  cursor: pointer;
}

.todo__list {
  background: var(--bg-secondary);
  border-radius: 5px 5px 0 0;
}

.todo__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: var(--bg-secondary);
  border-radius: 0 0 5px 5px;
  margin-bottom: 1em;
  color: var(--clr-primary-500);
}

.filter-buttons {
  background-color: var(--bg-secondary);
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
}

/* || ======================================================== */

@media (min-width: 550px) {
  body {
    background-image: url("./images/bg-desktop-light.jpg");
  }
  body.dark {
    background-image: url("./images/bg-desktop-dark.jpg");
  }

  .todo__footer {
    position: relative;
  }

  .filter-buttons {
    position: absolute;
    top: 0;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
  }

  .filter-btn {
    padding: 0.5em;
  }
}
